%h1 Write-up Flybook

%h3 Whereis flags ?
egrep -R -e '\w{31}=' /var/www/
And we see that they in /var/www/db/sessions

%h3 How to get flags ?
curl http://ip/db/sessions 
really easy ? =)

%h3 Now we should make patch:
Lets look at lib/db.php - it's obfuscated.
This is simple obfuscation, we could deobfuscate this code very quickly.
%ul
	%li 
		make this code readable - I like "Sublime Text 2" and this code got readable form in 2 minutes.
	%li 
		we see that we have 3 part of php code.
		%li 
			In the first part make: 
			%code 
				print_r($GLOBALS['_1392131239_']);
				and replace all $GLOBALS['_1392131239_'][x] from the 3rd part to the equals from printed array.
		%li 
			In the second part make:
			%code 
				for($i=0;$i<30;$i++)
				\	echo base64_decode($a[$i]);
			and make replace of _1092662562(x) from the 3rd part to the printed equals.

%h5 What can we see here ?
Right, path to db:
%code
	function dbname($x_0){
	\	return 'db/' .substr($x_0,round(0),-round(0+5));
	}

%b uuid
26362220-36ec-11e2-a216-0016e6846163
%b cp -R /var/ww/db /var/www/26362220-36ec-11e2-a216-0016e6846163
and fix db.php
%code
	function dbname($x_0){
	\	return '26362220-36ec-11e2-a216-0016e6846163/' .substr($x_0,round(0),-round(0+5));
	}
