<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= @item[:title].to_s.strip.empty? ? '' : (@item[:title].to_s + " - ") %>Lobotomy</title>
    <link rel="stylesheet" href="/resource/reset.css" />
    <link rel="stylesheet" href="/resource/site.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/resource/site_js.js"></script>
  </head>
  <body>
    <header id="mast">
      <div class="content">
        <section id="identity" >
          <div id="avatar">
            <div id="logo1"></div>
          </div>
          <div><a href="/">Lobotomy Team</a></div>
          <!--div>Some slogan here</div-->
        </section>
        <nav>
          <ul>
            <li><a href="/" class="button" data-icon="H">Home</a></li>
            <li><a href="/about" class="button" data-icon="i">About us</a></li>
            <li><a href="/howto" class="button" data-icon="x">HOWTO</a></li>
            <!--li><a href="http://twitter.com/metaskills" class="button" data-icon="B">Follow</a></li-->
          </ul>
        </nav>
      </div>
    </header>
    <section id="page">
      <section id="content">
        <%= yield %>
      </section>
      <nav>
        <div>
          <!--a href="http://www.youtube.com/watch?v=8pBTK-pdMP0">Society for coding things on top  of other things!</a-->
        </div>
        <h3>Categories</h3>
        <ul>
          <li><a href="/writeups">Writeups</a></li>
          <li><a href="/achievements">Achievements</a></li>
          <li><a href="/howto">HOWTO</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </section>
    <footer id="foot">
  	</footer>
  </body>
</html>
