/* contains various fixes, must be last css included */

body {
    background-color: #525252;
}

div#header-logo1 {
    background: url(/lobotomy_logo_96.png) no-repeat;
    width: 96px; height: 100px;
    position: absolute;
    left:5px; top:-2px;
}

div#header-logo2 {
    background: url(/lobotomy_logo_96.png) no-repeat;
    width: 96px; height: 100px;
    position: absolute;
    right:8px; top:-2px;
}

div#alpha-inner, div.entry-asset {
    overflow:visible;
}

h1 {
    margin-top: 1em;
}

/* for team name highlighting in scoreboards */
.lobotomy, tr.lobotomy td, tr.lobotomy th {
    background-color: #0a0 !important;
}
